{% extends 'Food/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
</head>
<body>
    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <div class="card">
                        <div class="card-header text-white bg-info">
                            <div class="card-title">Sign Up</div>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
{#                                {{ form }}#}
                                {% for field in form %}
                                    <div class="col-form-label-lg">
                                	    {{ field.name }}
                                        {{ field }}
                                    </div>
                                {% endfor %}
                                <button class="bg-info" type="submit">Sign Up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    
</body>
</html>